{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "plugins": ["flowtype"],
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  },
  "rules": {
    "jsx-quotes": ["error", "prefer-single"],
    "import/prefer-default-export": [
      "off"
    ],
    "no-underscore-dangle": [
      "off"
    ],
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js"] }
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": [
          "Link"
        ],
        "specialLink": [
          "to",
          "hrefLeft",
          "hrefRight"
        ],
        "aspects": [
          "noHref",
          "invalidHref",
          "preferButton"
        ]
      }
    ],
    "jsx-a11y/label-has-associated-control": [
      "error",
      {
        "required": {
          "some": [
            "nesting",
            "id"
          ]
        }
      }
    ],
    "jsx-a11y/label-has-for": [
      "error",
      {
        "required": {
          "some": [
            "nesting",
            "id"
          ]
        }
      }
    ],
    "jsx-a11y/no-autofocus": [ 0, {
      "ignoreNonDOM": true
    }],
    "max-len": ["error", {
      "code": 100,
      "ignoreUrls": true,
      "ignoreComments": true,
      "ignoreStrings": true,
      "ignorePattern": "<p[^>]*>.*?</p>"
    }]
  }
}